{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
  <div class="row mt10">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <form method="POST" action="{% url 'proxy_import' %}" class="navbar-form navbar" id="proxy-frm-import" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-inline">
        <div class="form-group">
          <label for="csv_file"><h4>File (CSV): </h4></label>
          <input type="file" class="form-control" name="csv_file" id="csv_file">
          <button type="button" class="btn btn-success" onclick="csvSubmit()">Import</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <form method="GET" class="navbar-form navbar" action="{% url 'proxy_list' %}" id="proxy-frm-search">
      <div class="form-inline">
        <div class="form-group">
          <label for="country"><h4>Country : </h4></label>
          <select class="form-control" name="country">
            <option value="all" {% if params.country == 'all' %} selected {% endif %}>All</option>
            {% for country in countries %}
              <option value="{{ country.id }}" {% if params.country|add:0 == country.id %} selected {% endif %}>{{ country.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group ml20">
          <label for="channel"><h4>Channel : </h4></label>
          <select class="form-control" name="channel">
            <option value="all" {% if params.channel == 'all' %} selected {% endif %}>All</option>
            {% for channel in channels %}
              <option value="{{ channel.id }}" {% if params.channel|add:0 == channel.id %} selected {% endif %}>{{ channel.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group ml20">
          <label for="ip_address"><h4>Subnet : </h4></label>
          <input type="text" class="form-control" name="ip_address" value="{{ params.ip_address }}">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary" onclick="document.getElementById('proxy-frm-search').submit()">Search</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <table class="table table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th>No.</th>
          <th>Country</th>
          <th>Subnet</th>
          <th>Channel</th>
        </tr>
      </thead>
      <tbody>
        {% if proxies|length > 0 %}
          {% for proxy in proxies %}
            <tr>
              <td>{{ forloop.counter|add:params.index }}</td>
              <td>{{ proxy.country.name }}</td>
              <td>{{ proxy.subnet.ip_address }}</td>
              <td>{{ proxy.channel.name }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="3" style="text-align:center">No Data Found.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
    {% if proxies|length > 0 %}
      <div class="text-center">
        {% if proxies.has_other_pages %}
          <ul class="pagination">
            {% if proxies.has_previous %}
              <li>
                <a href="?{{ page_string }}&page={{ proxies.previous_page_number }}">&laquo;</a>
              </li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in proxies.paginator.page_range %}
              {% if proxies.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?{{ page_string }}&page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if proxies.has_next %}
              <li><a href="?{{ page_string }}&page={{ proxies.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="{% static 'js/proxies/app.js' %}"></script>
{% endblock %}
